.navbar {
  background-color: #41CAE7;
  border-radius: 20px;
}

.navbar-brand {
  padding-left: 20px;
}

.navbar a {
  margin-left: 5px;
  font-size: 22px;
  font-family: "Arial Black", sans-serif !important;
  color: #006699;
  cursor: not-allowed;
}
.navbar a:hover {
  color: blue;
}

.navbar-center {
  flex: 1;
  text-align: center;
  padding-right: 80px;
  font-family: "Bookman Old Style", serif;
  color: darkblue;
}
